.last_div{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: pink;
  transform: rotate(5deg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first_div{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  /* transform: rotate(10deg); */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second_div{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  /* background-color: blue; */
  /* transform: rotate(-5deg); */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third_div{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: green;
  transform: rotate(0deg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourth_div{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: yellow;
  transform: rotate(-10deg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}