body,
html {
  height: 100%;
}

.element {
  height: 100px;
  object-fit: contain;
  width: 220px;
  margin: 20px 50px;
  animation-fill-mode: none;
  animation-play-state: running;
  top: 0;
  right: 0;
}


.element-small {
  height: 100px;
  object-fit: contain;
  width: 220px;
  margin: 20px 20px;
  animation-fill-mode: none;
  animation-play-state: running;
  top: 0;
  right: 0;
}
@keyframes stretch {
  0% {
    transform: scale(.3);
  }
  100% {
    transform: scale(1);
  }
}

.content{
  height:100%;
  width:100%;
  z-index: 0;
  top: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  z-index: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-images {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.content-image-wrapper{
  height:100px;
  width:220px;
  object-fit: contain;
  margin: 20px 50px;
  position: relative;
}

.content-image-wrapper-small{
  height: 100px;
  width: 150px;
  object-fit: contain;
  margin: 20px 0px;
  position: relative;
}