
body,
html {
  height: 100%;
}
/* img{
  width: 100%;
} */
.logo-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 85px;
  width: 100%;
  flex-wrap: wrap;
}

@keyframes move {
  0% { top: 0; }
  50% { top: 30px; left: 20px; }
  50% { top: 10px; }
  100% { top: 0; }
}

.move {
  animation: move 10s steps(10) infinite alternate;
}

.element1 {
  height: 100px;
  object-fit: contain;
  width: 220px;
  margin: 20px 50px;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
  }
  100% {
    transform: scale(1);
    /* background-color: yellow; */
  }
}


.element2 {
  height: 100px;
  object-fit: contain;
  width: 220px;
  margin: 20px 50px;
  animation-fill-mode: none;
  animation-play-state: running;
}

.element3 {
  height: 100px;
  object-fit: contain;
  width: 220px;
  margin: 20px 50px;
  animation-fill-mode: none;
  animation-play-state: running;
}
.element4 {
  height: 100px;
  object-fit: contain;
  width: 220px;
  margin: 20px 50px;
  animation-fill-mode: none;
  animation-play-state: running;
}
.element5 {
  height: 100px;
  object-fit: contain;
  width: 220px;
  margin: 20px 50px;
  animation-fill-mode: none;
  animation-play-state: running;
}

.element6 {
  height: 100px;
  object-fit: contain;
  width: 220px;
  margin: 20px 50px;
  animation-fill-mode: none;
  animation-play-state: running;
}
