#wrapper_div{
  position: absolute;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

#wrapper_div > div {
  width: 450px;
  height: 450px;
  will-change: transform;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
