.form-container{
  box-shadow: 0px 10px 10px -5px rgba(4, 4, 4, 0.223);
}
.label{
  transition: all .4s ease-in-out;
}
.label:hover{
  transform: scale(1.1);
}
.submitBtn{
  transition: all .4s ease-in-out;
}
.submitBtn:hover{
  transform: scale(0.9);
  background-color: black;
  color: white;
}
#input1, #input2, #input3{
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}
#input1:hover, #input2:hover, #input3:hover{
  border-bottom-color: black;
}
.submitBtnWrapper{
  transition: all .4s ease-in-out;
  height: 200px;
  width: 200px;
}
.submitBtnWrapper:hover{
  border: 1px solid black;
}
