.app-develop-wrapper {
  /* overflow-x: hidden; */
  /* transform: rotate(-90deg) translateY(-700px); */
  /* transform-origin: right top; */
}

.app-develop-wrapper > div{
  /* transform: rotate(90deg); */
  /* transform-origin: right top; */
}

/* .panel:first-child {
  margin-left: 150px;
} */

.panel {
  height: 600px;
  padding: 10px 20px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main-stack-wrapper{
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 350px;
  perspective-origin: 50% 50%;
}

.invert-colors{
  filter: invert(1)
}