.app-develop-wrapper {
  /* overflow-x: hidden; */
  /* transform: rotate(-90deg) translateY(-700px); */
  /* transform-origin: right top; */
}

.app-develop-wrapper > div{
  /* transform: rotate(90deg); */
  /* transform-origin: right top; */
}



.panel {
  height: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main-stack-wrapper{
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 350px;
  perspective-origin: 50% 50%;
}

.invert-colors{
  filter: invert(1)
}

/* 
.horizontal-wrapper {
  background-color: #333;
  overflow-y: scroll;
  overflow-x: scroll;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position:absolute;
  width: 100vh;
  height: 100vw;
  padding: 20px;
  
}

#scroller {
  transform: rotate(90deg) translateY(-97.5vh) translateX(-70px);
  transform-origin: top left;
  font-size:0;
}
#scroller .panel{
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
} */

/* ::-webkit-scrollbar {
  opacity: 1;
} */